<a href="https://colab.research.google.com/github/Jash1992/AcademyPublic/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
mkdir: cannot create directory ‘/root/.kaggle’: File exists
Downloading vehicle-loan-default-prediction.zip to /content
  0% 0.00/11.6M [00:00<?, ?B/s]
100% 11.6M/11.6M [00:00<00:00, 135MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 15.4MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
replace winequality-red.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: Y
  inflating: winequality-red.csv

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('/content/winequality-red.csv')
df.head(11)
df.tail(11)
df.sample(3, random_state=9999999)
df.dtypes
df.describe()
df.info()
df.shape
len(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

1599

In [6]:
df[['fixed acidity',"volatile acidity","quality"]].head()

   fixed acidity  volatile acidity  quality
0            7.4              0.70        5
1            7.8              0.88        5
2            7.8              0.76        5
3           11.2              0.28        6
4            7.4              0.70        5

In [7]:
df[['fixed acidity',"volatile acidity","quality"]].head(2)
df['fixed acidity']>7

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [8]:
df = pd.read_csv('/content/winequality-red.csv')

In [9]:
df.shape
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.patches import Patch
from matplotlib.lines import Line2D
import matplotlib.dates as mdates
import seaborn as sns
import itertools
import scipy.stats as ss
from imblearn.over_sampling import SMOTE

def citric_acid_cat(x):
  if x < 0.21 :
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'

df = pd.read_csv('/content/winequality-red.csv')
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))
df['Y'] = np.where(df['quality']>= 7, 1, 0)
df['fixed_acidity_cat'] = np.where(df['fixed acidity']<= 8, 0, 1)
df['volatile_acidity_cat'] = np.where(df['volatile acidity']>= 0.4, 0, 1)
temp = df.sample(n=150, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)
df['pH2'] = np.where(df['pH'].index %15 ==0, np.nan, df['pH'])
rng = np.random.default_rng(893717398)
df = df.join(pd.Series(rng.normal(df['fixed acidity'].median(),1,len(df)), name='acidity_other'))
df['acidity_other'] = np.where(df['acidity_other'].index %2 !=0, np.nan, df['pH'])
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)
np.random.seed(893717398)
d_start = pd.to_datetime('2021-01-01')
d_end = pd.to_datetime('2021-06-30')
df['date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))
df['date'] = df['date'].astype(str)
df['citric_cat'] = np.where(df['citric_cat'] == 'C', 'Z', df['citric_cat'])
df['date'] = pd.to_datetime(df['date'], format= '%Y-%m-%d %H:%M:%S') 
today = pd.to_datetime('2021-10-12', format = '%Y-%m-%d')
df['time_diff'] = today - df['date']
df['day_diff'] = (df['time_diff']/np.timedelta64(1, 'D')).astype(float)
np.random.seed(893717398)
randomf1 = pd.Series(np.random.normal(0, 1, len(df)), name='Random_Normal_feature1')
randomf2 = pd.Series(np.random.normal(1, 0.5, len(df)), name='Random_Normal_feature2')
randomf = pd.concat([randomf1, randomf2], axis=1, ignore_index=True)
randomf.columns = ['Random_Normal_feature1', 'Random_Normal_feature2']
np.random.seed(893717398)
df['Random_Normal_feature1'] = pd.Series(np.random.normal(0, 1, len(df)), name='Random_Normal_feature1')
df = df.merge(randomf, how='inner', on='Random_Normal_feature1')

In [11]:
df.shape
df.dtypes

fixed acidity                     float64
volatile acidity                  float64
citric acid                       float64
residual sugar                    float64
chlorides                         float64
free sulfur dioxide               float64
total sulfur dioxide              float64
density                           float64
pH                                float64
sulphates                         float64
alcohol                           float64
quality                             int64
citric_cat                         object
Y                                   int64
fixed_acidity_cat                   int64
volatile_acidity_cat                int64
pH2                               float64
acidity_other                     float64
date                       datetime64[ns]
time_diff                 timedelta64[ns]
day_diff                          float64
Random_Normal_feature1            float64
Random_Normal_feature2            float64
dtype: object

In [12]:
df['citric_cat'].describe()

count     1749
unique       3
top          Z
freq       773
Name: citric_cat, dtype: object

In [16]:
df['citric_cat'] = np.where(df['citric_cat'] == 'c', 'z', df['citric_cat'])

In [17]:
df['citric_cat'].describe()

count     1749
unique       3
top          Z
freq       773
Name: citric_cat, dtype: object

In [18]:
df['citric_cat'].value_counts()
df['citric_cat'].value_counts(True)
np.round(df['citric_cat'].value_counts(True)*100, 2)

Z    44.20
A    39.62
B    16.18
Name: citric_cat, dtype: float64

In [19]:
df.isna()
df.isna().sum()

fixed acidity               0
volatile acidity            0
citric acid                 0
residual sugar              0
chlorides                   0
free sulfur dioxide         0
total sulfur dioxide        0
density                     0
pH                          0
sulphates                   0
alcohol                     0
quality                     0
citric_cat                  0
Y                           0
fixed_acidity_cat           0
volatile_acidity_cat        0
pH2                       117
acidity_other             874
date                        0
time_diff                   0
day_diff                    0
Random_Normal_feature1      0
Random_Normal_feature2      0
dtype: int64

In [20]:
df['date'].head(3)
df['date'] = pd.to_datetime(df['date'], format= '%Y-%m-%d %H:%M:%S')

In [21]:
today = pd.to_datetime('2021-10-12', format = '%Y-%m-%d')
today
df['time_diff'] = today - df['date']
df['time_diff'].head(3)
df.dtypes

fixed acidity                     float64
volatile acidity                  float64
citric acid                       float64
residual sugar                    float64
chlorides                         float64
free sulfur dioxide               float64
total sulfur dioxide              float64
density                           float64
pH                                float64
sulphates                         float64
alcohol                           float64
quality                             int64
citric_cat                         object
Y                                   int64
fixed_acidity_cat                   int64
volatile_acidity_cat                int64
pH2                               float64
acidity_other                     float64
date                       datetime64[ns]
time_diff                 timedelta64[ns]
day_diff                          float64
Random_Normal_feature1            float64
Random_Normal_feature2            float64
dtype: object

In [23]:
df['day_diff'] = (df['time_diff']/np.timedelta64(1, 'D')).astype(float)
df['day_diff']

0       278.389861
1       246.658681
2       106.482338
3       117.773866
4       264.576204
           ...
1744    229.515891
1745    122.306586
1746    130.300637
1747    223.381343
1748    205.710289
Name: day_diff, Length: 1749, dtype: float64