<a href="https://colab.research.google.com/github/Jash1992/AcademyPublic/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
  0% 0.00/11.6M [00:00<?, ?B/s]
100% 11.6M/11.6M [00:00<00:00, 153MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 21.9MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/winequality-red.csv')
df.head(11)
df.tail(11)
df.sample(3, random_state=9999999)
df.dtypes
df.describe()
df.info()
df.shape
len(df)

1599

In [ ]:
df[['fixed acidity',"volatile acidity","quality"]].head()

   fixed acidity  volatile acidity  quality
0            7.4              0.70        5
1            7.8              0.88        5
2            7.8              0.76        5
3           11.2              0.28        6
4            7.4              0.70        5

In [ ]:
df[['fixed acidity',"volatile acidity","quality"]].head(2)
df['fixed acidity']>7

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [ ]:
mask1 = df['fixed acidity']>7

In [ ]:
mask1

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [ ]:
df[mask1]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1576,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1580,7.4,0.35,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6
1585,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6
1586,7.5,0.31,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6
1588,7.2,0.66,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6

In [44]:
temp = df[mask1]
len(temp)

1237

In [41]:
df['fixed acidity'].between(7,8)
mask2 = df['fixed acidity'].between(7,8)
mask2

0        True
1        True
2        True
3       False
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [51]:
df[mask2][['pH','quality']].sample(n=100,random_state=9999999).nunique

pH         41
quality     5
dtype: int64

In [48]:
temp2

        pH  quality
0     3.51        5
1     3.20        5
2     3.26        5
4     3.51        5
5     3.51        5
...    ...      ...
1576  3.30        6
1580  3.36        6
1585  3.30        6
1586  3.34        6
1588  3.27        6

[546 rows x 2 columns]

In [54]:
mask2 = df['fixed acidity'].between(7,8)

In [57]:
mask3 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301))
df[mask3].describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000
mean,8.166181,0.551013,0.240862,2.663942,0.082759,15.787234,47.243001,0.996726,3.325969,0.586439,10.353210,5.530795
std,1.637488,0.176767,0.188316,1.512533,0.026202,10.343299,34.579307,0.001889,0.148147,0.074673,1.024548,0.756440
min,4.700000,0.160000,0.000000,0.900000,0.012000,3.000000,6.000000,0.990070,2.880000,0.330000,8.500000,3.000000
25%,7.100000,0.420000,0.080000,1.800000,0.071000,7.000000,21.000000,0.995600,3.220000,0.540000,9.500000,5.000000
50%,7.800000,0.550000,0.220000,2.400000,0.080000,14.000000,38.000000,0.996800,3.320000,0.590000,10.100000,5.000000
75%,9.000000,0.660000,0.390000,2.800000,0.089000,21.000000,65.000000,0.997870,3.410000,0.640000,11.000000,6.000000
max,15.600000,1.330000,0.780000,15.500000,0.387000,72.000000,289.000000,1.003200,4.010000,0.730000,13.600000,8.000000

In [65]:
((df['residual sugar'] <=1.9) | (df['residual sugar'] >=2.3)) & (df['sulphates'] < 0.7301)
mask3

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598     True
Length: 1599, dtype: bool

In [66]:
mask3

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598     True
Length: 1599, dtype: bool

In [68]:
temp = mask3

In [69]:
temp.max(3)

ValueError: ignored

In [70]:
def citric_acid_cat(x):
  if x < 0.21 :
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'

In [71]:
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))

In [76]:
mask5 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'] == 'A'))

In [77]:
df[mask5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,citric_cat
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,A
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,A
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5,A
1582,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9,5,A
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6,A
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5,A
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6,A

In [78]:
list_cat_to_keep = ['A', 'C']

In [80]:
mask6 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'].isin(list_cat_to_keep)))
mask6

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598     True
Length: 1599, dtype: bool

In [81]:
mask7 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (~df['citric_cat'].isin(list_cat_to_keep)))

In [82]:
df[mask7]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,citric_cat
26,7.6,0.41,0.24,1.8,0.080,4.0,11.0,0.99620,3.28,0.59,9.500000,5,B
34,5.2,0.32,0.25,1.8,0.103,13.0,50.0,0.99570,3.38,0.55,9.200000,5,B
48,6.4,0.40,0.23,1.6,0.066,5.0,12.0,0.99580,3.34,0.56,9.200000,5,B
72,7.7,0.69,0.22,1.9,0.084,18.0,94.0,0.99610,3.31,0.48,9.500000,5,B
87,7.7,0.49,0.26,1.9,0.062,9.0,31.0,0.99660,3.39,0.64,9.600000,5,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,7.7,0.54,0.26,1.9,0.089,23.0,147.0,0.99636,3.26,0.59,9.700000,5,B
1496,7.7,0.54,0.26,1.9,0.089,23.0,147.0,0.99636,3.26,0.59,9.700000,5,B
1501,7.8,0.82,0.29,4.3,0.083,21.0,64.0,0.99642,3.16,0.53,9.400000,5,B
1514,6.9,0.84,0.21,4.1,0.074,16.0,65.0,0.99842,3.53,0.72,9.233333,6,B
1515,6.9,0.84,0.21,4.1,0.074,16.0,65.0,0.99842,3.53,0.72,9.250000,6,B

In [83]:
len(df)

1599

In [84]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
citric_cat               object
dtype: object