<a href="https://colab.research.google.com/github/Jash1992/AcademyPublic/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

In [70]:
cities = ['zurich','hk','milan','berlin','london','Rio']
print(cities)
cities.insert(2,848)
print(cities)
cities.index("hk")

['zurich', 'hk', 'milan', 'berlin', 'london', 'Rio']
['zurich', 'hk', 848, 'milan', 'berlin', 'london', 'Rio']

1

In [ ]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle (1).json
mkdir: cannot create directory ‘/root/.kaggle’: File exists
vehicle-loan-default-prediction.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  vehicle-loan-default-prediction.zip
replace Data Dictionary.xlsx? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: Data Dictionary.xlsx
replace test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: test.csv
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: train.csv
red-wine-quality-cortez-et-al-2009.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  red-wine-quality-cortez-et-al-2009.zip
replace winequality-red.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: winequality-red.csv

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [79]:
val=0
if val > 0:
  print('the value is positive')
elif val < 0:
    print('it is not positive')
else :
  print('it is zero')

it is zero

In [85]:
val=0
if val < -10:
  print('very low')
elif val < 0:
  print('low') 
else :
  print('it is zero')

it is zero

In [86]:
fruits = ['apple', 'pear', 'cherry']
for i in fruits:
  print(i)

apple
pear
cherry

In [87]:
list_of_list = [['a','b','c'],[1,2,3]]
list_of_list

[['a', 'b', 'c'], [1, 2, 3]]

In [88]:
for sub_list in list_of_list:
  print("we treat the list: ",sub_list)

  for element in sub_list:
    print('we display the element: ', element)

we treat the list:  ['a', 'b', 'c']
we display the element:  a
we display the element:  b
we display the element:  c
we treat the list:  [1, 2, 3]
we display the element:  1
we display the element:  2
we display the element:  3

In [90]:
length = 33
width = 4
area = length*width
area

132

In [93]:
def AREA (length, width): 
  my_area = length*width
  return my_area

In [94]:
AREA(87, 54)

4698